<section id="decor">
     <div class="footer">
        <div class="row">
            <div class="column1">
            <h3> Qui somme nous ?  </h3>
            <p>  Auto-Ecole est une solution<br>
                conçue pour faciliter et optimiser <br>
                la gestion des auto-écoles</p>
            </div>
            <div class="column2">
                    <h3> Contactez nous  </h3>
                    <p> + 24 907 571 <br>
                        contact@formalab.tn <br>
                        Rue de Palestine, 19 rue Yahia Turki Tunis</p>
             </div> 
        </div>

    </div>
    
 </section>
    