<app-header></app-header>


<section id="decor">
    <div class="container">
    </div>
  </section>

<section id="about">
  <div class="container">

   

    <div class="row about-container">

   </div>

   <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <h2>Gestion des élèves de votre Auto-Ecole </h2>
        <p>Notre logiciel vous permet de gérer le fichier de vos élèves simplement et de recueillir toutes les informations dont vous avez besoin.
        </p>
        
        
      </div>
      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="/assets/sv/el1.jpg" class="img-fluid" alt="">
        </div>
      
    </div>

    <div class="row about-container">
      
    </div>

    <div class="row about-container">

        <div class="col-lg-6 content order-lg-2 order-2">
          <h2 class="infoele">Toutes les informations dont vous avez besoin sur vos élèves </h2>
          <p class="div2"> 

              Vous avez accès en un coup d'œil à toutes les informations dans les actes numérisés des élèves. Vous trouvez là toutes les données pertinentes, clairement présentées, comme les données personnelles, les adresses, les leçons de conduite enregistrées, les évaluations, l'historique des leçons et des cours ainsi que toutes les informations de paiement et les flux financiers.
          </p>
          
        </div>
        <div class="col-lg-6 background order-lg-1 order-1 wow fadeInUp">
            <img src="/assets/sv/el2.png" class="img-fluid2" alt="">
          </div>
      </div>

      <div class="row about-container">
      
        </div>
    
        <div class="row about-container">
    
            <div class="col-lg-6 content order-lg-1 order-2">
         
              <p class="div3"> Stockez toutes les informations dont vous avez besoin sur vos élèves : Nom, date de naissance, permis obtenus ou en cours…
                  Pouvoir supprimer, Ajouter et même modifier les informations des élèves 
                  A chaque leçon, l’historique de vos élèves se complète automatiquement.
                  Les crédits d’heures sont consultables dans les fiches élèves.
              </p>
              
            </div>
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                <img src="/assets/sv/el3.JPG" class="img-fluid" alt="">
              </div>
          </div>

      
          <div class="row about-container">
      
            </div>
        
            <div class="row about-container">
        
                <div class="col-lg-6 content order-lg-1 order-2">
                  <h2> Communiquez simplement avec vos élèves ou vos moniteurs par SMS ou par email</h2>
                  <p class="div4">Envois de SMS ou Email a vous élèves
                      Envoyez des SMS groupés à vos élèves en quelques clics. Le filtre avancé du logiciel vous permet de sélectionner précisément le profil des destinataires.
                                    
                  </p>
                  
                </div>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                    <img src="/assets/sv/el4.jpg" class="img-fluid" alt="">
                  </div>
              </div>
    

  </div>
  
</section>
<app-footer></app-footer>
