<app-header></app-header>


<section id="decor">
    <div class="container">
    </div>
  </section>

<section id="about">
  <div class="container">

   

    <div class="row about-container">

   </div>

   <div class="row about-container">

      <div class="col-lg-6 content order-lg-2 order-2">
        <h2>Le planning de votre auto-ecole </h2>
        <p>Profitez d’un agenda en ligne adapté aux spécificités des auto-écoles. Vous pourrez y accéder de n’importe où, sur ordinateur, mobile ou tablette.
        </p>
        
        
      </div>
      <div class="col-lg-6 background order-lg-1 order-1 wow fadeInUp">
          <img src="/assets/sv/ag1.png" class="img-fluid" alt="">
        </div>
      
    </div>

    <div class="row about-container">
      
    </div>

    <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
       
          <p class="div2">
              L'agenda partagé permet à tous les membres de votre entreprise d'accéder en ligne à l'agenda de chacun. L'agenda partagé est mis à jour en temps réel et chacun peut ainsi organiser son temps de travail en fonction du planning de ses collaborateurs. Un outil de management sérieux.
          </p>
          
        </div>
        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="/assets/sv/ag2.png" class="img-fluid" alt="">
          </div>
      </div>

      <div class="row about-container">
      
        </div>
    
        <div class="row about-container">
    
            <div class="col-lg-6 content order-lg-2 order-2">
                <h2 class="rdv">Rappel des rendez-vous par SMS ou Email </h2>
              <p class="div3">
                  Un système anti-oublis de RDV. <br>
                  Cette plateforme vous permet d’envoyer 
                  des emails et SMS de confirmation et 
                  des rappels de rendez-vous. <br> Désormais,
                  il n’y a plus d’excuse pour oublier son RDV.
              </p>
              
            </div>
            <div class="col-lg-6 background order-lg-1 order-1 wow fadeInUp">
                <img src="/assets/sv/ag3.png" class="img-fluid" alt="">
              </div>
          </div>
    

      

  </div>
  
</section>
<app-footer></app-footer>
