<app-header></app-header>


<section id="decor">
    <div class="container">
    </div>
  </section>

<section id="about">
  <div class="container">

   

    <div class="row about-container">

   </div>

    <div class="row about-container">
      <div class="col-lg-6 wow fadeInUp">
        <img src="/assets/sv/fact1.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h2 class="">Un logiciel de gestion pour votre auto-école </h2>
          <p>Le logiciel vous permettra d’éditer les devis, factures et avoir de vos élèves. <br> 

              Vous y trouverez également toutes les fonctions dont vous avez besoin : Suivi des paiements et des impayés, remises, calcul de la TVA collectée, exports comptables…

          </p>
         
      </div>
    </div>

    <div class="row about-container">
      
    </div>

    <div class="row about-container">
        <div class="col-lg-6 wow fadeInUp">
          <img src="/assets/sv/fact2.jpg" class="img-fluid2" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h2> Gérer vos encaissements et votre comptabilité </h2>
            <p > <img class="icon" src="/assets/sv/flech.jpg" alt="alt text" style="float: left" height=30px width=20px;>  Créez des devis, factures sur le logiciel et exportez les en pdf. Vous pourrez créer vos devis rapidemet. </p>
             <p> <img class="icon" src="/assets/sv/flech.jpg" alt="alt text" style="float: left" height=30px width=20px;> Accédez au logiciel de n’importe où et sur n’importe quel terminal (tablette, ordinateur, smartphone…). <br>
              Visualisez les factures impayées ou les devis en attente de validation. </p>
            <p> <img class="icon" src="/assets/sv/flech.jpg" alt="alt text" style="float: left" height=30px width=20px;> Exports comptables, remises, calcul de la TVA collectées,  votre comptabilité se construit sans effort au fil des encaissements.
            </p>
          
        </div>
      </div>
      <div class="row about-container">
          <div class="col-lg-6 wow fadeInUp">
            <img src="/assets/sv/fact3.jpg" class="img-fluid3" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h2 class="stat">Une vision synthétique grâce aux statistiques </h2>
              <p>L’outil statistiques vous donne accès à de précieuses informations sur votre activité (chiffre d’affaires de la semaine, du mois, statistiques géographiques, moyenne d’âge…). <br> 
                Il a pour but de vous aider à optimiser l’activité de votre auto-école.
              </p>
            
          </div>
        </div>
    

  </div>
  
</section>
<app-footer></app-footer>
