<app-header></app-header>

<section id="intro" class="clearfix">
        <div class="container">
    
            
          <div class="intro-img">
          <img src="assets/sv/pack.jpg" alt="" class="img-fluid">
          </div>
    
          <div class="intro-info">
            <h2>Decouvrez nos offres </h2>
             
              <h4> Avec Auto-ecole</h4>
            
          </div>
    
        </div>
      </section>

<section id="why-us" class="wow fadeIn">
        <div class="container">
          <header class="section-header">
            <h3>Why choose us?</h3>
            <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
          </header>
  
          <div class="row row-eq-height justify-content-center">
  
            <div class="col-lg-4 mb-4">
              <div class="card wow bounceInUp">
                  <i class="fa fa-diamond"></i>
                <div class="card-body">
                  <h5 class="card-title">Formule Gratuite</h5>
                  <h2> 0 D  </h2> 
                  <p class="card-text">
                      <br> Fichier client <br> <br> Agenda en ligne <br><br> Catalogue produits et services
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
      
                  </p>
               
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4">
              <div class="card wow bounceInUp">
                  <i class="fa fa-language"></i>
                <div class="card-body">
                  <h5 class="card-title">Formule Pro</h5>
                  <h2> 50 D  </h2>
                  <p class="card-text">
                      <br> Fichier clients <br>  <br>

                        Agendas en ligne
                        Catalogue produits et services <br> <br>
                        
                        Devis, factures et avoirs
                        Gestion des utilisateurs (moniteurs) <br> <br>
                        
                        Réservation des leçons en ligne 24h/24
                        sur une page dédiée  <br> <br>
                        
                        Statistiques (chiffres, clients, RDV…) <br> <br>
                        Historique des actions <br> <br>
                        Personnalisation des droits d’accès
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        </p>
                  
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mb-4">
              <div class="card wow bounceInUp">
                  <i class="fa fa-object-group"></i>
                <div class="card-body">
                  <h5 class="card-title">Formule Pro+</h5>
                  <h2> 100 D  </h2>
                  <p class="card-text">
                        <br> Fichier clients <br> <br>

                        Agendas en ligne
                        Catalogue produits et services <br> <br>
                        
                        Devis, factures et avoirs
                        Gestion des utilisateurs (moniteurs) <br> <br>
                        
                        Réservation des leçons en ligne 24h/24
                        sur une page dédiée  <br> <br>
                        
                        Statistiques (chiffres, clients, RDV…)
                        Historique des actions
                        Personnalisation des droits d’accès <br> <br>
                        
                        SMS* et emails (rappels de cours)
                        Campagnes SMS
                        Messages automatisés (SMS ou email)
                        Collecte automatique des avis </p>
                  
                </div>
              </div>
            </div>
  
          </div>
  
  
        </div>
      </section>
      <app-footer></app-footer>