<app-header></app-header>
<section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
      <img src="assets/sv/f1.jpg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Une plateforme de gestion pour votre auto-ecole </h2>
          <p>Profitez d'un logiciel de gestion d'auto ecole <br> à la fois complet et simple à prendre en main</p>
        <div>
          <a routerLink="/Connexion" class="btn-get-started scrollto" >Acheter maintenant</a>
          <a href="#services" class="btn-services scrollto">Avoir un aperçu</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  
  <section id="about">
    <div class="container">
  
     
  
      <div class="row about-container">
  
     </div>
  
     <div class="row about-container">
  
        <div class="col-lg-6 content order-lg-1 order-2">
          <h2>Une vision synthétique grace aux statistiques </h2>
          <p>L’outil statistiques vous donne accès à de précieuses informations sur votre activité (chiffre d’affaires de la semaine, du mois, statistiques géographiques…).
          </p>
          <a routerLink="/DevisFacturation" class="btn-info scrollto">En savoir plus</a>
          
          
        </div>
        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="/assets/sv/f2.jpg" class="img-fluid" alt="">
          </div>
        
      </div>
  
      <div class="row about-container">
        
      </div>
  
      <div class="row about-container">
  
          <div class="col-lg-6 content order-lg-2 order-2">
              <h2>Un agenda adapté aux auto-ecole </h2>
              <h5><img class="icon" src="/assets/sv/flech.jpg" alt="alt text" style="float: left" height=30px width=20px;> Agenda des moniteurs</h5>
            <p class="div2"> Les moniteurs bénéficient d’une interface dédiée sur la plateforme sur laquelle ils peuvent consulter en temps réel leur planning depuis leur mobile, leur tablette ou leur ordinateur. Ils n’ont donc plus besoin de passer par le secrétariat pour connaître leur programme de la journée ou de la semaine.
            </p>
            <h5><img class="icon" src="/assets/sv/flech.jpg" alt="alt text" style="float: left" height=30px width=20px;> Agenda des élèves</h5>
            <p class="div2"> Les élèves bénéficient d’une interface dédiée sur la plateforme sur laquelle ils peuvent consulter en temps réel leur planning depuis leur mobile, leur tablette ou leur ordinateur.
              
                
            </p>
            <a routerLink="/Agenda" class="btn-info scrollto">En savoir plus</a>
            
          </div>
          <div class="col-lg-6 background order-lg-1 order-1 wow fadeInUp">
              <img src="/assets/sv/f3.jpg" class="img-fluid3" alt="">
            </div>
            
        </div>
  
        <div class="row about-container">
        
          </div>
      
          <div class="row about-container">
      
              <div class="col-lg-6 content order-lg-2 order-2">
                  <h2 class="GE">Gestion des éléves </h2>
                <p class="div3">  <img class="icon" src="/assets/sv/flech.jpg" alt="alt text" style="float: left" height=30px width=20px;>
                  Notre plateforme vous permet de gérer le fichier de vos élèves simplement et de recueillir toutes les informations dont vous avez besoin.

                </p>
                <p class="div3">  <img class="icon" src="/assets/sv/flech.jpg" alt="alt text" style="float: left" height=30px width=20px;>
                  Historique des leçons, extraits de comptes, outils de communication par email ou SMS…

                </p>
                <a routerLink="/GestionEléve" class="btn-info scrollto">En savoir plus</a>
              </div>
              <div class="col-lg-6 background order-lg-1 order-1 wow fadeInUp">
                  <img src="/assets/sv/f4.jpg" class="img-fluid4" alt="">
                </div>
                
            </div>
  
        
            <div class="row about-container">
        
              </div>
          
              <div class="row about-container">
          
                  <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="res"> Reservation, Annulation el ligne</h2>
                    <p class="div4">
                        Nous mettons à votre disposition une solution de réservation en ligne automatisée et ultraperfectionnée.
                        Les modifications du planning peuvent être prises en charge rapidement et aisément, les annulations pouvant être envoyés par e-mail ou SMS en un clic.  
                    </p>
                    <a routerLink="/RappelRDV" class="btn-info scrollto">En savoir plus</a>
                  </div>
                  <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                      <img src="/assets/sv/f5.jpg" class="img-fluid" alt="">
                    </div>
                </div>
      
  
    </div>
    
  </section>
  <app-footer></app-footer>
  